@import "tools";

.TodoList__container {
  margin-top: 2rem;
}

.TodoList__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.TodoList__list {
  &.completed {
    .TodoList__label {
      opacity: 0.5;
      text-decoration: line-through;
    }
  }
}

.TodoList__item {
  display: flex;
  padding: 0.5rem 0;

  &:hover {
    .TodoList__remove {
      opacity: 1;
    }
  }
}

.TodoList__remove {
  @include media(800px, max) {
    opacity: 1;
  }

  opacity: 0;
  cursor: pointer;
  padding-left: 2rem;
}

.TodoList__input {
  cursor: pointer;
}

.TodoList__label {
  line-height: 1.2;
  width: 100%;
}

.TodoList__empty {
  font-size: 2rem;
  color: #aaa;
  text-align: center;
}

.completed-todos__header {
  margin-bottom: 2rem;
}

.completed-todos__title {
  margin-bottom: 0;
}

.completed-todos__button {
  border: 0;
  border-radius: 3px;

  color: #36a3f7;
  background-color: transparent;
  font-size: 1.4rem;
  font-family: inherit;
  line-height: 1.2;

  padding: 0;
  transition: 0.2s;
  cursor: pointer;

  text-decoration: underline;
}
